//
   Created by qianqing on 16-1-23.
//
extends ./layouts/book-default
block content
   .page-group
      #page-book-manage.page.page-current
         .buttons-tab.fixed-tab.bar
            a.button.button-link.pull-left.back
               span.icon.icon-left
            a.tab-link.active.button(href='#intro') 一个月内订单
            a.tab-link.button(href='#detail') 一个月前订单
