//
   Created by qianqing on 16-1-18.
extends ./layouts/default

block content
   .page-group
      #page-home.page.page-current
         include ./component/header-search
         include ./component/footer

         .content
            .swiper-container.swiper-container-horizontal(data-space-between='10', data-autoplay='3000')
               .swiper-wrapper.my-img-auto
                  .swiper-slide.img-box
                     img(src='/images/slide/slide-1.jpg', alt='')
                  .swiper-slide.img-box
                     img(src='/images/slide/slide-2.jpg', alt='')
                  .swiper-slide.img-box
                     img(src='/images/slide/slide-3.jpg', alt='')
                  .swiper-slide.img-box
                     img(src='/images/slide/slide-4.jpg', alt='')
               .swiper-pagination
            .card
               a.external(href='/product/new')
                  .card-header.no-border
                     .card-title.col-70 新品特卖
                     .card-link.col-30
                        span.link-text 更多新品
                        span.icon.icon-right
                  .card-content.my-img-auto.img-box
                     img(src='/images/slide/slide-4.jpg')
            .card
               a.external(href='/product/sale')
                  .card-header.no-border
                     .card-title.col-70 秒杀
                     .card-link.col-30
                        span.link-text 更多秒杀
                        span.icon.icon-right
                  .card-content.my-img-auto.img-box
                     img(src='/images/slide/slide-4.jpg')

block append scripts
   script(type='text/javascript', src='javascripts/lib/requirejs.min.js' data-main='javascripts/controller/home-ctrl')
