//
   Created by qianqing on 16-1-18.
extends ./layouts/users-default

block content
    .page-group
        #page-my.page.page-current
            include ./component/footer
            .content
                .list-block.media-list
                    ul
                        li
                            .item-content.open-panel(data-panel='#account-panel')
                               .item-media
                                   img(src='/images/photo-my-user.gif', width='80px', height='80px')
                               .item-inner
                                   .item-title-row
                                       .item-title 小王
                                   .item-subtitle
                                       .row
                                           span.col-50 会员
                                           .item-after.col-50 账户管理
                                               span.icon.icon-right
                .list-block
                    ul
                        li
                            a.item-link.item-content(href='#')
                                .item-media
                                    img(src='/images/my-booking.png', width='30px', height='30px')
                                .item-inner
                                    .item-title 我的订单
                        li
                            a.item-link.item-content(href='#')
                                .item-media
                                    img(src='/images/my-share.png', width='30px', height='30px')
                                .item-inner
                                    .item-title 我的分享

        include ./component/account-panel

block append scripts
    script(type='text/javascript', src='../javascripts/lib/requirejs.min.js' data-main='../javascripts/controller/my-ctrl')
