//
   Created by qianqing on 16-1-21.
//
   Created by qianqing on 16-1-20.
extends ./product
block append scripts
   script(type='text/javascript', src='../javascripts/lib/requirejs.min.js' data-main='../javascripts/controller/product-sale')

