//
   Created by qianqing on 16-1-20.
//
extends ./layouts/product-default
block content
   .page-group
      #page-product.page.page-current
         include ./component/header-search
         include ./component/footer
         .content.infinite-scroll
            .list-block.media-list(v-cloak)
               ul.list-container
                  li.item-content(v-for='product in products')
                        .item-media
                           a(href='#')
                              img(v-bind='{src:product.img}')
                        .item-inner
                           .item-title-row
                              .item-title {{product.name}}
                           .item-subtitle
                              span.price-text {{product.price}}
                              p.buttons-row
                                 a.button.button-fill.button-warning(href='#') 收藏
                                 a.button.button-fill.button-success(href='#') 购买
            .infinite-scroll-preloader
               .preloader