//
   Created by qianqing on 16-1-20.
//
extends ./layouts/product-default
block content
   .page-group
      #page-product.page.page-current
         include ./component/header-search
         include ./component/footer
         .content
            .list-block.media-list(v-cloak)
               ul
                  li(v-for="product in products")
                     .item-content
                        .item-media
                           a(href='#')
                              img(src='{{product.img}}')
                        .item-inner
                           .item-title-row
                              .item-title {{product.name}}
                           .item-subtitle
                              span.price-text {{product.price}}
                              p.buttons-row
                                 a.button.button-fill.button-warning(href='#') 收藏
                                 a.button.button-fill.button-success(href='#') 购买