//
   Created by qianqing on 16-1-18.
.popup.popup-about
   header.bar.bar-nav
      a.button.button-link.button-nav.pull-right.close-popup 关闭
      h1.title 关于MYun H5
   .content
      .content-inner
         .content-block
            p MYun H5是基于SUI和Vue的H5模板,希望借此提高H5的开发效率和质量.
            p MYun H5是标准模板,因此并未接合目前任何一个项目的界面或图片.
            p 当前版本为0.0.1,主要提供各种操作的UI展示,希望借此给产品和设计提供帮助.
