//
   Created by qianqing on 16-1-19.

.panel-overlay
#account-panel.panel.panel-right.panel-reveal
   .content
      .list-block
         ul
            li
               a.item-link.item-content(href='#')
                  .item-media
                     img(src='/images/icon-address.png')
                  .item-inner
                     .item-title 地址管理
            li
               a.item-link.item-content(href='#')
                  .item-media
                     img(src='/images/icon-edit.png')
                  .item-inner
                     .item-title 密码修改
