//
   Created by qianqing on 16-1-23.
#book-list.tab.active
   .content
      .list-block.media-list.book-list
         ul.list-container
            li.item-content
               .item-inner
                  .item-title-row
                     .item-title.book-date 下单日期:2015-02-30
                     .item-after.book-status 已审核
            li.item-content
                .item-inner
                  .item-title-row
                     .item-title
                        img(src="/images/product/1.jpg", width="20%")
                        img(src="/images/product/1.jpg", width="20%")
                        img(src="/images/product/1.jpg", width="20%")
                     .item-after.book-detail 订单详情
                        span.icon.icon-right
            li.item-content
               .item-inner
                  .item-title-row
                     .item-title
                        span.button 再次购买
                     .item-after
                        span.book-status 共4件商品，合计：
                           span.price-text 105

      .list-block.media-list.book-list
         ul.list-container
            li.item-content
               .item-inner
                  .item-title-row
                     .item-title.book-date 下单日期:2015-02-30
                     .item-after.book-status 已审核
            li.item-content
               .item-inner
                  .item-title-row
                     .item-title
                        img(src="/images/product/1.jpg", width="20%")
                        img(src="/images/product/1.jpg", width="20%")
                        img(src="/images/product/1.jpg", width="20%")
                     .item-after.book-detail 订单详情
                        span.icon.icon-right
            li.item-content
               .item-inner
                  .item-title-row
                     .item-title
                        span.button 再次购买
                     .item-after
                        span.book-status 共4件商品，合计：
                           span.price-text 105

      .list-block.media-list.book-list
         ul.list-container
            li.item-content
               .item-inner
                  .item-title-row
                     .item-title.book-date 下单日期:2015-02-30
                     .item-after.book-status 已审核
            li.item-content
               .item-inner
                  .item-title-row
                     .item-title
                        img(src="/images/product/1.jpg", width="20%")
                        img(src="/images/product/1.jpg", width="20%")
                        img(src="/images/product/1.jpg", width="20%")
                     .item-after.book-detail 订单详情
                        span.icon.icon-right
            li.item-content
               .item-inner
                  .item-title-row
                     .item-title
                        span.button 再次购买
                     .item-after
                        span.book-status 共4件商品，合计：
                           span.price-text 105

      .list-block.media-list.book-list
         ul.list-container
            li.item-content
               .item-inner
                  .item-title-row
                     .item-title.book-date 下单日期:2015-02-30
                     .item-after.book-status 已审核
            li.item-content
               .item-inner
                  .item-title-row
                     .item-title
                        img(src="/images/product/1.jpg", width="20%")
                        img(src="/images/product/1.jpg", width="20%")
                        img(src="/images/product/1.jpg", width="20%")
                     .item-after.book-detail 订单详情
                        span.icon.icon-right
            li.item-content
               .item-inner
                  .item-title-row
                     .item-title
                        span.button 再次购买
                     .item-after
                        span.book-status 共4件商品，合计：
                           span.price-text 105