//
   Created by qianqing on 16-1-21.
#detail.tab
   include ./product-footer
   .content
      h1.title 点击图片试试
      .my-img-auto
         img.pb-popup(src='../images/slide/slide-5.jpg', alt='')
      .my-img-auto(href='#')
         img.pb-popup(src='../images/slide/slide-6.jpg', alt='')
      .my-img-auto(href='#')
         img.pb-popup(src='../images/slide/slide-7.jpg', alt='')


