//
   Created by qianqing on 16-1-18.
.bar.bar-tab.bar-footer
   a.tab-item.external.active(href='/home')
      span.icon.icon-home
      span.tab-label 首页
   a.tab-item.external(href='#')
      span.icon.icon-app
      span.tab-label 分类
   a.tab-item.external(href='#')
      span.icon.icon-cart
      span.tab-label 购物车
      span.badge 2
   a.tab-item.external(href='#')
      span.icon.icon-star
      span.tab-label 收藏
      span.badge 12
   a.tab-item.external(href='/users/my')
      span.icon.icon-me
      span.tab-label 我的

