//
   Created by qianqing on 16-1-18.
header.bar.bar-nav
   .searchbar
      a.searchbar-cancel 取消
      .search-input
         label.icon.icon-search(for='search')
         input#search(type='search', placeholder='输入关键字...')
