//
   Created by qianqing on 16-1-18.
head
   meta(charset='utf-8')
   meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
   meta(name='viewport', content='width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no')
   meta(name="apple-mobile-web-app-capable", content="yes")
   meta(name="apple-mobile-web-app-status-bar-style", content="black")
   meta(content='email=no', name='format-detection')
   link(rel='stylesheet', href='//g.alicdn.com/msui/sm/0.6.1/css/sm.min.css')
   link(rel='stylesheet', href='//g.alicdn.com/msui/sm/0.6.1/css/sm-extend.min.css')
   link(rel='stylesheet', href='stylesheets/myun.css')
   block head

   title= title