//
   Created
   by qianqing on 16-1-21.
#intro.tab.active
   .content
      .swiper-container.swiper-container-horizontal(data-space-between='10', data-autoplay='3000')
         .swiper-wrapper.my-img-auto
            .swiper-slide.img-box-square
               img(src='../images/slide/slide-5.jpg', alt='')
            .swiper-slide.img-box-square
               img(src='../images/slide/slide-6.jpg', alt='')
            .swiper-slide.img-box-square
               img(src='../images/slide/slide-7.jpg', alt='')
         .swiper-pagination
