//
   Created
   by qianqing on 16-1-21.
#intro.tab.active
   .content
      .swiper-container.swiper-container-horizontal(data-space-between='10', data-autoplay='3000')
         .swiper-wrapper.my-img-auto
            .swiper-slide.img-box-square
               img(src='../images/slide/slide-5.jpg', alt='')
            .swiper-slide.img-box-square
               img(src='../images/slide/slide-6.jpg', alt='')
            .swiper-slide.img-box-square
               img(src='../images/slide/slide-7.jpg', alt='')
         .swiper-pagination
      .list-block.media-list
         ul.list-container
            li.item-content
               .item-inner
                  .item-title-row
                     .item-title 好东西
                  .item-subtitle 这个是好东西啊这个是好东西啊这个是好东西啊这
                  | 个是好东西啊这个是好东西啊这个是好东西啊这个是好东西啊这个是好东西啊
                  .item-text
                     span.price-text ￥55
      .list-block.media-list
         ul.list-container
            li.item-content
               .item-inner
                  .item-subtitle 款式
                        .list-block.media-list
                           ul.list-container
                              li.item-content
                                 label.label-checkbox.item-content
                                    input(type='radio', name='my-radio')
                                    .item-media
                                       i.icon.icon-form-checkbox
                                    .item-inner
                                       .item-subtitle 一箱
                              li.item-content
                                 label.label-checkbox.item-content
                                    input(type='radio', name='my-radio')
                                    .item-media
                                       i.icon.icon-form-checkbox
                                    .item-inner
                                       .item-subtitle 一袋
