//
   Created by qianqing on 16-1-18.
.content.native-scroll
   .list-block
      ul
         li
            .item-content
               .item-inner
                  .item-title.label 用户名
                  .item-input
                     input(type='text', placeholder='用户名')
         li
            .item-content
               .item-inner
                  .item-title.label 密码
                  .item-input
                     input(type='password', placeholder='密码')
         li
            .item-content
               .item-inner
                  .item-title.label 自动登录
                  .item-input
                     label.label-switch
                        input(type='checkbox')
                        .checkbox
   .content-block
      .row
         .col-50
            a.button.button-big.button-fill.button-danger(href='#') 注册
         .col-50
            a.button.button-big.button-fill.button-success(href='/home') 登录