//
   Created by qianqing on 16-1-19.

.panel-overlay
#my-panel.panel.panel-right.panel-reveal
   .content-block
      .list-block.media-list
         ul
            li
               a.item-link.item-content
                  .item-media
                     img(href='/images/photo-my-user.gif')
                  .item-inner
                     .item-title-row
                        .item-title 小王
                        .item-after $15
                     .item-subtitle 小李
                     .item-text 我的
