//
   Created by qianqing on 16-1-23.
#page-book-detail.page
   .content
      .buttons-tab.fixed-tab.buttons-fixed
         a.button.button-link.pull-left.back
            span.icon.icon-left

      .content.down-fixed-tab
         .list-block.media-list.book-list
            ul.list-container
               li.item-content
                  .item-inner
                     .item-title-row
                        .item-title 订单编号：123
               li.item-content
                  .item-inner
                     .item-title-row
                        .item-title.book-text 下单时间:2014-12-14
                     .item-subtitle.book-text 已审核
                     .item-text
                        span.boo-text 订单金额：
                        span.price-text ￥123

         .list-block.media-list.book-list
            ul.list-container
               li.item-content
                  .item-inner
                     .item-title-row
                        .item-title 配送方式：货到付款
               li.item-content
                  .item-inner
                     .item-title-row
                        .item-title 王老板
                        .item-after 13758087094
                     .item-text.boo-text 浙江省嘉兴市

         .list-block.media-list.book-list
            ul.list-container
               li.item-content
                  .item-inner
                     .item-title-row
                        .item-title 订单详情:
               li.item-content
                  .item-media
                     img(src="/images/product/1.jpg", width='80px', height='80px')
                  .item-inner
                     .item-title-row
                        .item-title 牛奶
                        .item-after x3
                     .item-subtitle.book-text 10包/箱
                     .item-text
                        span.price-text ￥55
               li.item-content
                  .item-media
                     img(src="/images/product/2.jpg", width='80px', height='80px')
                  .item-inner
                     .item-title-row
                        .item-title 奶粉
                        .item-after x3
                     .item-subtitle.book-text 10包/箱
                     .item-text
                        span.price-text ￥60
               li.item-content
                  .item-media
                     img(src="/images/product/3.jpg", width='80px', height='80px')
                  .item-inner
                     .item-title-row
                        .item-title 电池
                        .item-after x2
                     .item-subtitle.book-text 12节/盒
                     .item-text
                        span.price-text ￥10
