//
   Created by qianqing on 16-1-21.
#user-footer.bar.bar-tab.bar-footer
   a.tab-item.external(href='＃')
      span.icon.icon-star
      span.tab-label 收藏
   a.tab-item.external(href='#')
      span.icon.icon-cart
      span.tab-label 购物车
      span.badge 2
   .tab-item.add-cart 加入购物车
   .tab-item.buy 立刻购买
