body {
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    color: #333;
}

a {
    color: #333;
}

.swiper-container {
    padding-bottom: 0;
}
.card-header {
    min-height: 1rem;
    padding: .2rem;
}

.card-title:before {
    content: "";
    display: block;
    width: .1rem;
    height: .8rem;
    float: left;
    background: #d8505c;
    margin: .2rem .2rem 0 0;
}

.card-link {
    font-size: 11px;
    color: #686868;
}

.card-link .link-text {
    margin: .1rem;
}

.my-img-auto img {
    width: 100% !important;
    height: auto !important;
}

.img-box {
    width: 100%;
    position: relative;
    background-color: #c2ccd1;
    overflow: hidden;  //需要触发BFC消除margin折叠的问题
}
.img-box:after {
    content: '';
    display: block;
    margin-top: 48%; //margin百分比相对父元素宽度计算
}

.img-box img {
    position: absolute;
    top: 0;
    width: 100%;
}

.img-box-square {
    width: 100%;
    position: relative;
    background-color: #c2ccd1;
    overflow: hidden;  //需要触发BFC消除margin折叠的问题
}
.img-box-square:after {
    content: '';
    display: block;
    margin-top: 100%; //margin百分比相对父元素宽度计算
}

.img-box-square img {
    position: absolute;
    top: 0;
    width: 100%;
}

#page-my .media-list {
    margin: 0;
}

#page-my .media-list ul{
    background: #d8505c;
    color: #ffffff;
}

#page-my .media-list .item-after{
    background: #d8505c;
    color: #ffffff;
}

.panel {
    background: #c2ccd1;
    color: #000000;
}

#account-panel .list-block {
    margin: .2rem 0;
}

#page-product .list-block {
    margin: 0;
}

.price-text {
    color: #ff0000;
}

#page-product .buttons-row {
    margin-top: 2rem;
    width: 60%;
}

#page-product .buttons-row .button{
    color: #ffffff;
    border-color: #ffffff;
}

#page-product .list-block .item-content:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

#page-product .list-block .item-inner:after {
    height: 0;
}

.fixed-tab .back {
    margin-left: 0;
    margin-right: .2rem;
    margin-top: .3rem;
    text-align: left;
    width: 50%;
}

#intro .content {
    padding-top: 2.4rem;
}

.item-subtitle .list-block {
    margin: 0;
}

.item-subtitle .list-block .list-container{
    padding: 0;
}

.item-subtitle .list-block .list-container .item-content{
    padding: 0;
}

#user-footer .tab-item {
    background-color: #0a0a0a;
    color: #ffffff;
    font-size: .4rem;
}

#user-footer .tab-item.add-cart{
    background-color: #ffab20;
    color: #ffffff;
    font-size: .8rem;
}

#user-footer .tab-item.buy{
    background-color: #ff1a29;
    color: #ffffff;
    font-size: .8rem;
}

.style-text {
    font-size: .6rem;
    padding-left: .4rem;
    color: #5f646c;
}

[v-cloak] {
    display: none;
}