body {
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    color: #333;
}

.swiper-container {
    padding-bottom: 0;
}
.card-header {
    min-height: 1rem;
    padding: .2rem;
}

.card-title:before {
    content: "";
    display: block;
    width: .1rem;
    height: .8rem;
    float: left;
    background: #d8505c;
    margin: .2rem .2rem 0 0;
}

.card-link {
    font-size: 11px;
    color: #686868;
}

.card-link .link-text {
    margin: .1rem;
}

.my-img-auto img {
    width: 100% !important;
    height: auto !important;
}

.img-box {
    width: 100%;
    position: relative;
    background-color: #c2ccd1;
    overflow: hidden;  //需要触发BFC消除margin折叠的问题
}
.img-box:after {
    content: '';
    display: block;
    margin-top: 48%; //margin百分比相对父元素宽度计算
}

.img-box img {
    position: absolute;
    top: 0;
    width: 100%;
}

#page-my .media-list {
    margin: 0;
}

#page-my .media-list ul{
    background: #d8505c;
    color: #ffffff;
}

#page-my .media-list .item-after{
    background: #d8505c;
    color: #ffffff;
}

#page-my .item-after {
    padding-top: 1.3rem;
}